.profile-container a:hover {
    text-decoration: none;
    color:#495057;
}

.profile-container input:-internal-autofill-selected {
    background-color: #e9ecef !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}