.container-login {
  background-image: url('./bg-01.jpg');
  width: 100%;
  height: calc(100% - 8vh);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-login::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
}
 
.div-login {
  z-index: 1;
  max-width: 40vw;
  min-width: 30vw;
  /* min-height: 60vh; */
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  margin: auto;
  background: #0b6196;
  background: -webkit-linear-gradient(180deg, #0b6196, #e30b2c);
  background: -o-linear-gradient(180deg, #0b6196, #e30b2c);
  background: -moz-linear-gradient(180deg,#0b6196, #e30b2c);
  background: linear-gradient(180deg,#0b6196, #e30b2c);
  color: white;
}

.login-form {
  width: 100%;
  min-height: 75%;
}

.login-img {
  text-align: center;
}

.login-img img {
  margin-bottom: 2em;
  border-radius: 50%;
}

.login-title {
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.username-wrapper {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 2em;
}

.password-wrapper {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 1.5em;
}

.username,
.password {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
  border-style: none;
  outline: none;
  position: relative;
}

::placeholder {
  color:white;
}

.button-wrapper {
  margin-bottom: 2em;
}

.button-wrapper button {
  font-size: 2em;
  padding: .4em 1.5em;
  border-radius: 2em;
}

.icon {
  position: absolute;
  right: 95%;
  top: .8em;
  font-size: 2em;
}

.register-wrapper {
  font-size: 2em;
  margin-top: 3em;
  margin-bottom: 2em;
}

.register-wrapper p {
  margin: 0;
}

.register-wrapper a {
  text-decoration: underline;
  color: white;
}

.register-wrapper a:hover {
  color: white;
  text-decoration: none;
}